{% extends 'base.html' %}

{% block title %}
    List books
{% endblock %}

{% block body %}
    <h1>Каталог</h1>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
{% for object in object_list %}

<div class="card" style="width: 28%; margin: 10px 20px; padding: 0 20px;">
    <img src="{{ object.cover.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ object.name }}  </h5>
      <p class="card-text">Автор:
        {% for auth in object.author_book.all %} 
          {{ auth.name }}
        {% endfor %}</p>
      <a href="{% url 'book:sh-book-detail' pk=object.pk %}" class="btn btn-primary">Подробнее</a>
      {% if perms.book.add_book %}
        <a href="{% url 'book:sh-book-delete' pk=object.pk %}" class="btn btn-primary">Del</a>
        <a href="{% url 'book:sh-book-update' pk=object.pk %}" class="btn btn-primary">Update</a>
{% endif %}
    </div>
</div>



{% endfor %}
</div>
    
{% endblock %}   

{% block footer %}
    footer
{% endblock %}





                <tr>
                    <td><a href="{% url 'reference_books:sh-aut-update' pk=obj.pk %}"  >{{ obj.pk }} </a></td>
                    <td>{{ obj.name }} {{ obj.start_date }} </td>
                    <td><a href="{% url 'reference_books:sh-aut-delete' pk=obj.pk %}">DELETE</i></a></td>
                </tr> -->