{% extends 'base.html' %}

{% block title %}
    List series
{% endblock %}

{% block body %}
    <h1>List series</h1>
    <table class="table table-striped-columns">
        {% for obj in object_list %}
        <tr>
            <td><a href="{% url 'reference_books:sh-ser-update' pk=obj.pk %}">{{ obj.pk }} </a></td>
            <td>{{ obj.name }} </td>
            <td><a href="{% url 'reference_books:sh-ser-delete' pk=obj.pk %}">DELETE</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}   

{% block footer %}
    footer
{% endblock %}