{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block body %}
    <h1>Последние новинки</h1>
    <div class="card-group">
      <div class="card">
        <img src="{{ book1.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book1.name }}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
      <div class="card">
        <img src="{{ book2.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book2.name }}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
      <div class="card">
        <img src="{{ book3.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book3.name }}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
      <div class="card">
        <img src="{{ book4.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book4.name }}</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    </div>   
      
{% endblock %}   

{% block footer %}
    footer
{% endblock %}
